<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="optimizerSection" type="CnCssJscriptOptimizer.ConfigurationSections.OptimizerSection, CnCssJscriptOptimizer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <optimizerSection enable="true" enableScriptCompression="true" enableSheetCompression="true" enableScriptMinification="true" enableSheetMinification="true" fullHandlerPath="~/ResourceHandler.ashx">
    <add key="1" path="~/Scripts/Script01.js"/>
    <add key="2" path="~/Scripts/Script02.js"/>
    <add key="3" path="~/Scripts/Script03.js"/>
    <add key="a" path="~/Styles/Style01.css"/>
    <add key="b" path="~/Styles/Style02.css"/>
    <add key="c" path="~/Styles/Style03.css"/>
  </optimizerSection>
  <appSettings>
    <add key="barcodeFontFilePath" value="../Fonts/IDAutomationHC39M.ttf"/>
    <add key="barcodeFontSize" value="13"/>
    <add key="saveImageFolder" value="TempImages/"/>
  </appSettings>
  <connectionStrings>
    <add name="dvinfosoft" connectionString="Data Source=(local);Initial Catalog=UserManagement;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="8D4CF6B321DB10E4ED31C802935A4A289D38E1FD899C99EC90F50722D2D7B5CB83B74C149423EBAC8B501244C8893955315A984A2D86099F351048B33BBF87AA" decryptionKey="91CE2A57E97ACE2BA32A431BB411457169F44F9A9C3A5F9A121AEFCDB81A3326" validation="SHA1" decryption="AES"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8.1">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <location path="web.dvinfosoft.in" allowOverride="true">
    <system.web>
      <trust level="Full" originUrl=""/>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="~/index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>